@charset 'utf-8';

#header {
  background: none;
  position: relative;
}

#Secondlife {
  width: 100%;
  height: 100%;
  /* top: 50%;
  left: 50%; */
  /* transform: translate(50%, 50%); */
  /* position: absolute; */
}
#Secondlife {
  stroke-linecap: square;
  fill-opacity: 0;
  transition: fill-opacity 0.5s;
}
#Secondlife.finished {
  fill-opacity: 1;
  stroke: #e0c6b2;
}
.second-visual {
  margin-top: 9rem;
  display: flex;
  width: 100%;
}
.second-name-life {
  display: block;
  margin: 10% auto;
  /* padding: auto 148.66px; */
  /* width: 100%; */
}
.second-name-life .secondname {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-visual-wrap {
  display: flex;
  justify-content: right;
  width: 60.9375%;
}
.second-visual-wrap figure {
  display: block;
  width: 100%;
}
.nav2-color li a {
  color: #666666;
}
.second-subject {
  font-family: "pretendard";
  text-align: center;
  margin-top: 10%;
}
h2 {
  font-size: 5rem;
  font-weight: 700;
  color: var(--main-color);
}
.second-subject p {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--sub-p-color);
  margin-top: 1.3rem;
}
.second-materials {
  margin: 21rem auto;
  width: 98.2rem;
  position: relative;
}
.second-mate-title {
  position: absolute;
  text-align: center;
  top: 0;
  right: 30%;
  transform: translate(-50%, -50%);
}
.second-mate-title h3 {
  color: #000;
  font-weight: 600;
  font-family: "pretendard";
  font-size: 5rem;
  text-align: left;
}
.second-mate-title h3 + h3 {
  color: #fff;
}
.mate-info {
  display: flex;
  background: var(--sub-bg-color);
  font-family: "pretendard";
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 170%;
  width: 100%;
  margin: 0 auto;
  padding: 28px 14.4898% 28px 10%;
}
.first-info li {
  margin-top: 14px;
  list-style: circle;
}
.second-info li {
  margin-top: 14px;
  list-style: circle;
}

.mate-info ul {
  width: 70%;
}
.mate-info ul + ul {
  display: block;
  width: 49%;
}
.second-clean-leather {
  position: relative;
  display: block;
  text-align: left;
  width: 1180px;
  margin: 0 auto;
  font-family: "pretendard";
}
h4 {
  font-weight: 700;
  font-size: 3rem;
  color: var(--sub-p-color-darker);
  line-height: 121%;
}
.second-clean-leather .first {
  width: 1080px;
  color: var(--sub-p-color-darker);
}
.second-clean-leather .first li {
  list-style: decimal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 170%;
  margin-top: 1.4rem;
  width: 1027px;
}
.second-clean-leather ul li > p span {
  font-weight: 600;
}
.second-suade-upper .second-mate-title {
  left: 23.5%;
}
.second-suade-upper {
  width: 100%;
}

.upper-inner {
  background-color: var(--sub-bg-color);
  display: block;
  text-align: left;
  margin: 0 auto;
  font-family: "pretendard";
  margin-top: 20.204%;
  padding: 8.7755% 19.2708%;
}
.upper-inner figure {
  position: relative;
}
.upper-inner ul {
  width: 1080px;
  color: var(--sub-p-color-darker);
}
.upper-inner ul li {
  list-style: decimal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 170%;
  margin-top: 1.4rem;
  width: 1027px;
}
.upper-inner ul li > p span {
  font-weight: 600;
}
.second-sub-logo {
  display: flex;
  justify-content: center;
  margin-top: 10.4081%;
}
.second-sub-logo figure {
  aspect-ratio: 1/0.2449;
  width: 42.6rem;
}
.second-sub-logo img {
  width: 100%;
  height: 100%;
}

.tip-swiper {
  width: 59rem;
  margin-top: -3rem;
  /* height: calc(100% - 60px); */
}
.tip-swiper .swiper-container {
  display: block;
  position: relative;
  overflow: hidden;
}

.tip-swiper .swiper-pagination {
  position: relative;
  margin-top: -6rem;
}
.tip-swiper .swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #fff6ed;
  opacity: 1;
  margin-top: 80px !important;
}
.tip-swiper .swiper-pagination-bullet-active {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background: #5f3300;
  opacity: 1;
}
.tip-swiper .swiper-wrapper {
  transform: scaleY(-136px);
  width: 100%;
  height: 100%;
  margin-top: 18.7755%;
}

.tip-swiper .swiper-slide {
  margin-top: 0.7rem;
  background: #fff;
  /* background: #04f3d3; */
  /* height: 62.0271%; */
  /* width: 49.2631%; */
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* -webkit-box-pack: center; */
  -ms-flex-pack: center;
  /* -webkit-justify-content: center; */
  /* justify-content: center; */
  -webkit-box-align: center;
  -ms-flex-align: center;
  /* -webkit-align-items: center; */
  /* align-items: center; */
}
.second-maintenance-tips {
  display: block;
  position: relative;
}
.second-tips {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 130rem;
}
.second-maintenance-tips .second-mate-title {
  position: relative;
  transform: none;
  right: 0;
  margin-top: 10.4081%;
}
.second-mate-title > .stroke {
  -webkit-text-stroke: 1px #000;
}
.second-maintenance-tips h3 {
  text-align: center;
}
.tip-swiper .swiper-slide figure {
  height: 100%;
  width: 100%;
}
.tip-swiper .swiper-slide figure img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.slide-info p {
  font-weight: 400;
  font-size: 1.8rem;
  /* margin-right: 2.5rem; */
  text-align: left;
  width: 90%;
  color: #fff;
  opacity: 0.7;
  margin-top: 1rem;
}

.slide-info h4 {
  text-align: left;
  color: #fff;
  font-weight: 600;
  font-size: 2.5rem;
}
.second-tips-arrow {
  position: absolute;
  width: 70.8rem;
  top: 40rem;
  right: 24rem;
  z-index: 2;
}
.mySwiper3 .slide-info {
  background-color: var(--main-color);
  width: 100%;
  height: 13rem;
  padding: 2.2rem 0 0 4.4rem;
  font-family: "Pretendard";
}
.second-tips-arrow .swiper-button-next {
  background: url(../img/second-svg-r.svg) no-repeat 0 0 / cover;
  background-position: center;
  width: 3.9rem;
  height: 3.9rem;
  right: 0;
}
.second-tips-arrow .swiper-button-prev {
  background: url(../img/second-svg-l.svg) no-repeat 0 0 / cover;
  background-position: center;
  width: 3.9rem;
  height: 3.9rem;
  left: 0;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
#footer {
  margin-top: 20rem;
}
