@charset 'utf-8';

.visual {
  background: orange;
  height: 100%;
  position: relative;
  padding: 0 !important;
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.kategorie {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
  position: relative;
}
.beenflex {
  flex-direction: row-reverse;
}

.item-intro {
  width: 49.48%;
  position: relative;
  height: calc(100% - 60px);
}
.item-intro > figure {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/0.9684;
}
.item-intro > figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-info {
  position: absolute;
  margin: 10.3174% 10.1092%;
  left: 0;
  top: 0;
}
.item-info > p {
  font-family: "Pretendard";
  margin-top: 3.1746%;
  font-size: 2.4rem;
  font-weight: 400;
  width: 79.01%;
  color: #fff;
  line-height: 140.5%;
}
h2 {
  font-weight: 600;
  font-size: 5.5rem;
  font-family: "Pretendard";
  color: #35651e;
  text-align: center;
}
h3 {
  font-family: "Agbalumo", system-ui;
  font-size: 8.5rem;
  color: #fff;
}
h4 {
  font-family: "Pretendard";
  font-size: 4.2rem;
  font-weight: 700;
  color: #5f3300;
}
.all {
  width: 49.48%;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1/0.9684;
}
.all .swiper-container {
  display: block;
  width: 91.4736%;
  margin: 0 0 0 8.5264%;
  position: relative;
}

.swiper-container > .swiper-pagination {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: -20%;
  z-index: 10;
}
.kategorie .swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #fff6ed;
  opacity: 1;
  margin-top: 80px !important;
}
.kategorie .swiper-pagination-bullet-active {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background: #5f3300;
  opacity: 1;
}
.all .white-bg {
  content: "";
  width: 8.5264%;
  height: 100%;
  background: #fff;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
}
.all .swiper-wrapper {
  transform: scaleY(-136px);
  width: 100%;
  height: 100%;
  margin-top: 18.7755%;
}

.all .swiper-slide {
  margin-top: 0.7rem;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.all .swiper-slide figure {
  height: 100%;
  width: 100%;
}
.all .swiper-slide figure img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.swiper-slide figure p {
  font-weight: 600;
  font-size: 2rem;
  font-family: "Pretendard";
  margin-right: 2.5rem;
}

.all h4 {
  text-align: center;
  display: inline-block;
  position: absolute;
  width: 18.3rem;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.all-items-arrow {
  position: absolute;
  width: 33.9rem;
  top: -5%;
  left: 0%;
}
.all-items-arrow .swiper-button-next {
  background: url(../img/arrow-ico-r.svg) no-repeat 0 0 / cover;
  background-position: center;
  width: 3.9rem;
  height: 3.9rem;
  right: 0;
}

.all-items-arrow .swiper-button-prev {
  background: url(../img/arrow-ico-l.svg) no-repeat 0 0 / cover;
  background-position: center;
  width: 3.9rem;
  height: 3.9rem;
  left: 0;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

/* material 시작하는 부분 */

.wrap {
  width: 100%;
  overflow: hidden;
}
.main-container {
  margin-top: -9vw;
}
.main-container .swiper-container {
  width: 61.4583%;
  margin: 0 auto;
  overflow: hidden;
  height: 40.5102vw;
}

.main-container .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 33.8rem;
  transition: none;
}
.main-container .swiper-slide img {
  display: block;
  width: 100%;
}
.main-container .swiper-slide span {
  display: inline-block;
  margin-top: 20px;
}

.changing,
.changed {
  transform: translateX(-100);
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.changing {
  transition: transform 0.3s;
  pointer-events: none;
}

.changed {
  transition: none;
}

.changing.swiper-slide-active,
.changed.swiper-slide-active {
  transform: translateX(0px);
}

.swiper-slide-active ~ .changing,
.swiper-slide-active ~ .changed {
  transform: translateX(0px);
}

.changing .img-wrap,
.changed .img-wrap {
  transform-origin: center bottom;
}

.changing .img-wrap {
  transition: transform 0.3s;
}

.changed .img-wrap {
  transition: none;
}

.changing.swiper-slide-active .img-wrap,
.changed.swiper-slide-active .img-wrap {
  transform: scale(1.37);
}

.mySlider {
  border: 1px solid #0f0;
  width: 90%;
  height: 40rem;
}

.mySlider .swiper-slide {
  border: 10px solid #000;
}

/* 슬라이더와 연동되는 정보 */

.slide-info {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 4rem;
}

.slide-info li {
  position: absolute;
  top: 0;
  width: 23.9062%;
  opacity: 0;
  transition: 0.4s;
}

.slide-info li.active {
  opacity: 1;
}

.slide-info li dl dt {
  font-weight: 700;
  font-size: 3.3rem;
  font-family: "Pretendard";
  color: #333333;
  line-height: 121.4%;
}
.slide-info li dl dd {
  font-weight: 400;
  font-size: 1.8rem;
  color: #666;
  font-family: "Pretendard";
  margin-top: 0.8rem;
  line-height: 124.9%;
}

.material {
  position: relative;
  margin-top: 32.3469vh;
  height: 100%;
}
.mate-pic {
  width: 61.45%;
  display: flex;
  justify-content: space-between;

  align-items: flex-end;
}
.main-mate-arrow {
  position: absolute;
  width: 72.3958%;
  top: 68.5%;
  left: 13.7%;
  z-index: 2;
}

.main-mate-arrow .swiper-button-next {
  background: url(../img/main-mate-arrow-r.svg) no-repeat 0 0 / cover;
  background-position: center;
  width: 64px;
  height: 81px;
  right: 0;
}

.main-mate-arrow .swiper-button-prev {
  background: url(../img/main-mate-arrow-l.svg) no-repeat 0 0 / cover;
  background-position: center;
  width: 6.4rem;
  height: 8.1rem;
  left: 0;
}
.history {
  width: 61.4583%;
  margin: 0 auto;
}
.his-padding {
  padding: 14.4rem 0 0 0;
}
.history > figure {
  margin-top: 8rem;
}
.history > figure img {
  width: 100%;
  height: 100%;
}

article {
  width: 100%;
  background-color: #f3eedf;
  margin-top: 288px;
}

article dl dt {
  font-weight: 700;
  font-size: 40px;
  font-family: "Pretendard";
  margin-top: 70px;
  color: #333;
}
article dl dd {
  width: 57.63%;
  font-weight: 500;
  line-height: 35px;
  font-size: 20px;
  color: #666;
  padding: 32px 0 214px 0;
}
.philosophy {
  width: 74.5312%;
  margin: 17.1428% auto;
}
.philosophy1 {
  display: flex;
  justify-content: space-between;
  margin-top: 20.7143%;
}
.core-philosophy {
  width: 56.464%;
}
#responsible {
  width: 100%;
  height: 100%;
}
#responsible * {
  stroke-linecap: square;
  fill-opacity: 0;
  transition: fill-opacity 0.5s;
}
#responsible.finished * {
  fill-opacity: 1;
  stroke: #5f3300;
}
.responsible-pic {
  display: block;
  width: 38.4346%;
  aspect-ratio: 1/0.2945;
  justify-content: right;
  align-content: flex-end;
}
.responsible-pic figure {
  width: 100%;
  height: 100%;
}
.responsible-pic figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.responsible-pic2 {
  display: none;
}
.responsible-info {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.responsible-info p {
  position: absolute;
  line-height: 160%;
  font-size: 2.4rem;
  font-weight: 500;
  color: #737373;
  width: 38.4346%;
  right: 0%;
}
.philosophy2 {
  display: flex;
  justify-content: center;
  margin-top: 20.7142%;
}
#Transparent {
  width: 100%;
  height: 100%;
}
#Transparent * {
  stroke-linecap: square;
  fill-opacity: 0;
  transition: fill-opacity 0.5s;
}
#Transparent.finished * {
  fill-opacity: 1;
  stroke: #5f3300;
}

.Transparent-info {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 3px;
}
.Transparent-info p {
  position: absolute;
  line-height: 160%;
  font-size: 2.4rem;
  font-weight: 500;
  color: #737373;
}

.philosophy3 {
  display: flex;
  justify-content: space-between;
  margin-top: 20.7142%;
  flex-direction: row-reverse;
}

#Sagacious {
  width: 100%;
  height: 100%;
}
#Sagacious * {
  stroke-linecap: square;
  fill-opacity: 0;
  transition: fill-opacity 0.5s;
}
#Sagacious.finished * {
  fill-opacity: 1;
  stroke: #5f3300;
}

.Sagacious-pic {
  width: 38.4346%;
  aspect-ratio: 1/0.2945;
  justify-content: right;
  align-content: flex-end;
}
.Sagacious-pic figure {
  width: 100%;
  height: 100%;
}
.Sagacious-pic figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Sagacious-info {
  display: flex;
  width: 38.4346%;
  position: relative;
}
.Sagacious-info p {
  position: absolute;
  line-height: 160%;
  font-size: 2.4rem;
  font-weight: 500;
  color: #737373;
}
.instar {
  margin-top: 20vw;
  overflow: hidden;
}
.instargram-pic {
  animation: pic-ani 80s infinite linear;
  display: flex;
  width: 800rem;
}
.instargram-pic li {
  margin: 1% 0.1%;
  width: 38rem;
}

@keyframes pic-ani {
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 1470px) {
  h3 {
    font-size: 66px;
  }
  .item-info > p {
    font-size: 19px;
  }
  .responsible-info p {
    font-size: 19px;
  }
}
@media (max-width: 1400px) {
  .instargram-pic {
    width: 600rem;
    animation: pic-ani 80s infinite linear;
  }
  .instargram-pic li img {
    width: 27rem;
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 1190px) {
  .slide-info li dl dt {
    font-size: 30px;
  }
  article dl dd {
    width: 100%;
  }
  .all-items-arrow {
    width: 26.3rem;
  }
  h4 {
    font-size: 3.7rem;
  }
  .all-items-arrow .swiper-button-prev {
    width: 3.5rem;
    height: 3.5rem;
  }
  .all-items-arrow .swiper-button-next {
    width: 3.5rem;
    height: 3.5rem;
  }
  .Transparent-info p {
    font-size: 1.9rem;
    text-align: center;
  }
  .Sagacious-info p {
    font-size: 1.9rem;
  }
}

@media (max-width: 1075px) {
  .item-info > p {
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@media (max-width: 1024px) /* 태블릿 사이즈 */ {
  .main-container .swiper-container {
    width: 95.4583%;
  }
  .main-container {
    margin-top: 2vw;
  }
  .main-mate-arrow {
    display: none;
  }
  .all h4 {
    text-align: left;
    left: 0;
    transform: translate(0, -50%);
  }
  .slide-info li {
    width: 37.9062%;
  }
  .responsible-info p {
    display: none;
  }
  .Sagacious-info p {
    display: none;
  }
  .all-items-arrow .swiper-button-prev {
    display: none;
  }
  .all-items-arrow .swiper-button-next {
    display: none;
  }
  .instargram-pic {
    width: 400rem;
    animation: pic-ani 80s infinite linear;
  }
  .instargram-pic li img {
    width: 20rem;
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 807px) {
}
@media (max-width: 768px) {
  .all h4 {
    font-size: 3.3rem;
  }
  h3 {
    font-size: 4rem;
  }
  .item-info > p {
    font-size: 1.8rem;
  }
}
@media (max-width: 747px) {
  .swiper-slide figure p {
    font-size: 1.8rem;
  }
  .material {
    margin-top: 20vh;
  }
}
@media (max-width: 702px) {
  .visual {
    aspect-ratio: 16/15;
  }
  .visual-wrap {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 693px) {
  .slide-info li {
    width: 50%;
  }
}
@media (max-width: 604px) {
  .material {
    position: relative;
    overflow: hidden;
    height: 89vh;
  }
  .main-container {
    margin-top: 56vw;
    height: 70vh;
  }
  .main-container .swiper-container {
    width: 200%;
    position: absolute;
    top: 36vw;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
    height: 60rem;
  }

  .all .swiper-container {
    width: 90%;
  }

  .slide-info {
    margin-top: -52vh;
  }
  .slide-info li {
    width: 85%;
    height: 20vw;
  }
  .kategorie {
    display: block;
  }
  .item-intro {
    width: 100%;
  }
  .all {
    width: 100%;
  }

  .history {
    width: 85%;
  }
  article {
    margin-top: -9rem;
  }
}
@media (max-width: 519px) {
  .slide-info {
    margin-top: -57vh;
  }
}
@media (max-width: 511px) {
  .material {
    margin-top: 11vh;
  }
  article {
    margin-top: -11rem;
  }
}

@media (max-width: 420px) {
  .history {
    width: 85%;
  }
  article {
    margin-top: -7rem;
  }
  article dl dt {
    font-size: 26px;
    margin-top: 16px;
  }
  article dl dd {
    font-size: 1.8rem;
  }
  .his-padding {
    padding: 15% 0 0 0;
  }
  .history > figure {
    margin-top: 10%;
  }
  .philosophy {
    width: 85%;
  }

  .responsible-pic {
    display: none;
  }
  .responsible-info p {
    display: block;
    width: 100%;
    margin-top: 3%;
    line-height: 115%;
  }
  .philosophy1 {
    width: 85%;
    display: block;
  }
  .responsible-pic2 {
    display: flex;
    aspect-ratio: 1 / 0.2945;
    width: 100%;
    justify-content: center;
  }
  .responsible-pic2 img {
    width: 100%;
    height: 100%;
  }

  .philosophy2 {
    margin-top: 50%;
    justify-content: left;
  }
  .Transparent-info p {
    font-size: 1.8rem;
    line-height: 100%;
    text-align: left;
  }
  .philosophy3 {
    display: block;
  }

  .philosophy3 .core-philosophy {
    display: flex;
    justify-content: flex-end;
  }
  .Sagacious-pic {
    width: 100%;
  }
  .Sagacious-info p {
    display: inline-block;
    font-size: 1.8rem;
    margin-top: 14px;
    line-height: 100%;
    left: 0;
  }
  .Sagacious-info {
    width: 85%;
  }

  .core-philosophy {
    width: 85%;
  }
  .instar {
    margin-top: 40vw;
  }

  @media (max-width: 390px) {
  }
}
